*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#title{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: blue;
    text-decoration: underline;
}

.sub-cont-one{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to top, rgb(241, 148, 164),  rgb(45, 198, 245));
    border-radius: 5px;
    width: 700px;
    padding: 20px;
    border-style: dotted;
    border-color: black;
}

.container{
    display: flex;
    justify-content: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

#input::placeholder{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#input{
    width: 250px;
    height: 30px;
}
